<% layout('boilerplate') %>

       <div class="container">
           <div class="row">
                <div class="col-lg-5">               
                 <h3><%= course.title %></h3>
                  <h4><%= course.username %></h4>
              </div> 
           </div>
       </div>
    </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-lg-7">
          <h2>Description</h2>
          <%= course.desc %>
      </div>

      <div class="col-lg-2">
            <h3>Enrolled Students</h3>
           <div class="panel panel-default">
              <div class="panel-heading">
                  Students
             </div> 

             <div class="panel-body">
                 <% if(course.takenByStudent.length == 0){ %>
                     <p>0</p>
                 <% } else { %>
                     <% for(var i = 0; i < course.takenByStudent.length; i++){ %>
                         <div class="col-xs-2">
                             <h2><%= course.takenByStudent[i].user.local.email %></h2>
                         </div>

                    <% } %>
                <% } %>
             </div>
           </div>
        </div>
        <div class="col-lg-3">
         <h3>Comments</h3>
         <p>
             <a class="btn btn-success" href="/courses/<%=course._id%>/comments/new">Add New Comment</a>
         </p>
         <div class="panel panel-default">      
               <% course.comments.forEach(function(comment){ %>
                <div class="panel-heading">
                     <strong><%= comment.author %></strong>
                     </div> 
                     <div class="panel-body">
                      <%= comment.text %> 
                     </div>  
              <% }) %>          
            </div> 
         
        </div>

  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-7">
         <div class="jumbtron">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-4">
                    
                         <form action="/payment" method="POST">
                            <input type="hidden" name="courseId" value="<%= course._id %>">
                           <script
                           src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                           data-key=""
                           data-amount="2500" 
                           data-name= "passMuster.com"
                           data-description="widget"
                           data-lacale="auto">              
                            </script>
                            
                         </form>
                    </div>
                </div>

                <!--<%= course.price %> -->